{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap" style="width: 100%; display: table;">
    <div style="display: table-row">
      <div class="masthead__menu" style="display: table-cell;">
        <nav id="site-nav" class="greedy-nav">
          <button><div class="navicon"></div></button>
          <ul class="visible-links">
            <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
            {% for link in site.data.navigation.main %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
                {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
          <ul class="hidden-links hidden"></ul>
        </nav>
      </div>
      <link rel="stylesheet" href="{{ base_path }}/assets/css/toggle_mode.css"/>
      <div style="display:table-cell;vertical-align: middle;">
        <input type="checkbox" class="checkbox" id="light-toggle" />
        <label class="label" for="light-toggle">
          <!-- <i class="fas fa-moon" style="position:relative;top: -5.5px;left:-10px;"></i>
          <i class="fas fa-sun" style="position:relative;top: -5.5px;left:12px;"></i> -->
          <i class="fas fa-moon"></i>
          <i class="fas fa-sun"></i>
          <div class="ball"></div>
        </label>
      </div>
      <!-- <div class = "toggle-container" style="display:table-cell;vertical-align: middle;">
        <a id = "light-toggle">
          <i class="fas fa-moon"></i>
          <i class="fas fa-sun"></i>
        </a> 
      </div> -->
    </div>
  </div>
</div>